body{
    background-color: grey;
}
img{
    float: left;
    margin-right: 100px;
    width: 660px;
}
h1{
    margin-top: 10px;
    margin-right: 100px;
    text-align: right;
    font-size: 80px;
    color: white;
}
p{
    margin-right: 200px;
    text-align: right;
    margin-top: 150px;
    font-size: 30px;
    color: white;
    line-gap-override: 10px;
}

